.SocialMediaButton{
    height: 100%;
    width: 25%;
    background-color: black;
    color: white;
    border:none;
}
.SocialMediaButton:hover{
    background-image: linear-gradient(black ,#3a3a3a);
}